.clan-table {
  overflow-x: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.clan-table-column:first-child {
  background-color: var(--ion-card-background);
  position: sticky;
  left: 0;
}

.clan-table-column:first-child .clan-table-cell {
  min-width: 100%;
  width: 100px;
  border-right: 2px solid #fff8;
}

.clan-table-column .clan-table-cell:nth-child(2) {
  border-bottom: 2px solid #fff8;
}

.clan-table-column .clan-table-cell:nth-last-child(2) {
  border-top: 2px solid #fff8;
}

.clan-table-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
}

.clan-table-cell {
  background-color: var(--ion-card-background);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  white-space: nowrap;
  overflow: hidden;
  height: 24px;
  font-size: 12px;
  text-decoration: none;
}

.clan-table-cell ion-avatar {
  height: 16px;
  width: 16px;
  flex-shrink: 0;
  margin-right: 2px;
}

.clan-table-cell ion-select {
  padding-left: 0;
  width: 100%;
  font-weight: bold;
}

.clan-table-cell ion-icon {
  contain: initial;
}

.clan-table-cell ion-select::part(text) {
  margin-right: -4px;
}

.clan-table-cell ion-select::part(icon) {
  display: none;
}

.clan-table-cell-data {
  justify-content: center;
}

.clan-table-cell-header {
  flex-direction: column;
  text-align: center;
  height: 64px;
  justify-content: center;
}

.clan-table-cell-header div:first-of-type, .clan-table-column:first-child .clan-table-cell div:first-of-type {
  font-weight: bold;
}

.clan-table-req-img {
  height: 24px;
  width: 24px;
}

.clan-level-5 {
  background-color: #55f40b;
  color: black;
}

.clan-level-4 {
  background-color: #bfe913;
  color: black;
}

.clan-level-3 {
  background-color: #fcd302;
  color: black;
}

.clan-level-2 {
  background-color: #fa9102;
  color: black;
}

.clan-level-1 {
  background-color: #ef6500;
  color: black;
}

.clan-level-0 {
  background-color: #eb0000;
  color: white;
}


.clan-table-edge .clan-table-cell {
  border-left: 2px solid #333;
}

.clan-table-edge .clan-level-5 {
  border-left: 2px solid #55f40b;
  background-color: #55f40b22;
  color: inherit;
}

.clan-table-edge .clan-level-4 {
  border-left: 2px solid #bfe913;
  background-color: #bfe91322;
  color: inherit;
}

.clan-table-edge .clan-level-3 {
  border-left: 2px solid #fcd302;
  background-color: #fcd30222;
  color: inherit;
}

.clan-table-edge .clan-level-2 {
  border-left: 2px solid #fa9102;
  background-color: #fa910222;
  color: inherit;
}

.clan-table-edge .clan-level-1 {
  border-left: 2px solid #ef6500;
  background-color: #ef650022;
  color: inherit;
}

.clan-table-edge .clan-level-0 {
  border-left: 2px solid #eb0000;
  background-color: #eb000022;
  color: inherit;
}
