.inventory-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.inventory-history-title {
  margin-left: 16px;
}

.inventory-overview-card-wrapper {
  display: flex;
  flex-direction: column
}

.inventory-overview-card {
  margin-top: 8px;
  margin-bottom: 8px;
  flex-grow: 1;
}

.inventory-history-card {
  flex-grow: 1;
}

.inventory-history-card ion-note {
  font-size: 0.8em;
}

.inventory-header-tabs,
.inventory-header-tabs ion-tab-button {
  background: none;
}