.user-captures-image {
  height: 36px;
  width: 36px;
  margin-left: -4px;
  margin-right: 16px;
}

.md .user-captures-image {
  height: 40px;
  width: 40px;
  margin-right: 16px;
}

.player-main-page {
  display: flex;
  flex-direction: column;
}

.player-main-card {
  width: calc(100% - 20px);
  max-width: 700px;
  align-self: center;
}

.ios .player-main-card {
  width: calc(100% - 32px);
}