.qrate-card {
  display: flex;
  flex-direction: column;
}

.qrate-image {
  width: 128px;
  height: 128px;
  align-self: center;
}

.qrate-progress-wrapper {
  padding: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
}

.qrate-progress-wrapper h4 {
  margin: 0;
  line-height: 0;
  z-index: 2;
  color: var(--ion-text-color, #000);
}

.qrate-progress-wrapper ion-progress-bar {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: 40px;
  border-radius: 8px;
}

.qrate-none {
  padding: 4px;
  margin: 0;
  text-align: center;
}