.md .tab-icon-avatar {
  height: 22px;
  width: 22px;
  margin-top: 6px;
  margin-bottom: 2px;
}
.ios .tab-icon-avatar {
  height: 30px;
  width: 30px;
  margin-top: 2px;
  margin-bottom: 2px;
}


/* .tab-icon-avatar {
  height: 28px;
  width: 28px;
}
ion-tab-button.tab-selected .tab-icon-avatar {
  height: 36px;
  width: 36px;
} */

ion-card {
  margin-top: 8px;
  margin-bottom: 8px;
}

ion-card ion-item {
  --background: transparent;
}

.item-avatar {
  margin-right: 24px;
  margin-left: -8px;
}

.ios .item-avatar {
  margin-right: 12px;
  margin-left: -4px;
}

.ios ion-card-title {
  font-size: 22px;
}

.fancy-grid-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-card-header {
  padding-top: 11px;
  padding-bottom: 7px;
}