.md .tab-icon-avatar {
  height: 22px;
  width: 22px;
  margin-top: 6px;
  margin-bottom: 2px;
}
.ios .tab-icon-avatar {
  height: 30px;
  width: 30px;
  margin-top: 2px;
  margin-bottom: 2px;
}


/* .tab-icon-avatar {
  height: 28px;
  width: 28px;
}
ion-tab-button.tab-selected .tab-icon-avatar {
  height: 36px;
  width: 36px;
} */

ion-card {
  margin-top: 8px;
  margin-bottom: 8px;
}

ion-card ion-item {
  --background: transparent;
}

.item-avatar {
  margin-right: 24px;
  margin-left: -8px;
  width: 36px;
  height: 36px;
}

.ios .item-avatar {
  margin-right: 12px;
  margin-left: -4px;
}

.ios ion-card-title {
  font-size: 22px;
}

.fancy-grid-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fancy-grid-element {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.item-card-header {
  padding-top: 11px;
  padding-bottom: 7px;
}

#ion-router-outlet {
  flex-grow: 1;
}


:root {
  --clan-level-5: #55f40b;
  --clan-level-5-fg: #000000;
  --clan-level-4: #bfe913;
  --clan-level-4-fg: black;
  --clan-level-3: #fcd302;
  --clan-level-3-fg: black;
  --clan-level-2: #fa9102;
  --clan-level-2-fg: black;
  --clan-level-1: #ef6500;
  --clan-level-1-fg: black;
  --clan-level-0: #eb0000;
  --clan-level-0-fg: white;
}

.cztypeimgloading {
  background-image: url("./cztypeimgloading.png");
  background-size: 100% 100%;
}
.cztypeimgloading::part(image) {
  display: none;
}

.main-tab-bar[data-len="3"] ion-tab-button {
  max-width: 33.3%;
}

.main-tab-bar[data-len="4"] ion-tab-button {
  max-width: 25%;
}

.main-tab-bar[data-len="5"] ion-tab-button {
  max-width: 20%;
}